Checks:          '*,-google-*,-modernize-*,clang-analyzer-*,clang-diagnostic-*,cppcoreguidelines-*,readability-*,performance-*, portability-*,-header-filter=.*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none